<template>
    
    <div class="column is-10">

      <div class="field" v-if="isSearching">
        <div class="control flex">
          <input class="input is-primary" type="text" placeholder="Search" v-model="search">
          <a class="delete is-large is-right clear" @click="clear"></a>
        </div>
      </div>

      <div class="card" v-if="filteredCollections">
        <div class="card-content">
          <DepositStationItem v-for="collection in filteredItems" :item="collection" :key="collection.id"/>        
        </div>
      </div>

      <div class="card" v-if="groupedCollections" v-for="group in filteredItems">
        <div class="card-content">
          <div class="message is-primary">
            <div class="message-body">
              {{ group.group }} /
              {{ group.collections.length }}
            </div>
          </div>
          <DepositStationItem v-for="collection in group.collections" :item="collection" :key="collection.id"/>
        </div>
      </div>
      
    </div>

</template>

<script>
import DepositStationItem from './DepositStationItem'
import { EventBus } from '../Events';

export default {
  name: 'DepositStationList',
  components: {
    DepositStationItem
  },
  data(){
    return {
      search: '',
      filteredCollections: null,
      groupedCollections: null,
      isSearching: null
    }
  },
  methods: {
    filterBy(filter){
      this.filteredCollections = null;
      this.groupedCollections = null;
      if (filter.group){
        var c = this.collections;
        var groups = {};
        var result = [];
        for (let i = 0; i < c.length; i++){
          let item = c[i];
          if (!groups[item.group]) {
            groups[item.group] = item.group;
            result.push({ group: groups[item.group], collections: [] });
          }
        };
        for (let i = 0; i < c.length; i++){
          for (let k = 0; k < result.length; k++){
            if (!result[k].group.localeCompare(c[i].group)){
              result[k].collections.push(c[i]);
            }
          }
        }
        this.clear();
        this.groupedCollections = result;
      } else {
        this.clear();
        this.filteredCollections = this.collections.filter(function(item){
          return item.status == filter.filter.status;
        });
      }
    },
    toggle(){
      this.isSearching = !this.isSearching
    },
    clear(){
      this.search = '';
    }
  },
  computed: {
    collections(){
      return this.$store.getters.getCollections;
    },
    filteredItems(){
      var self = this;
      if (this.filteredCollections){
        return this.filteredCollections.filter(function(item){
           return item.label.toLowerCase().indexOf(self.search.toLowerCase()) > -1;
        });
      } else if (this.groupedCollections){
        return this.groupedCollections.filter(function(item){
           return item.group.toLowerCase().indexOf(self.search.toLowerCase()) > -1;
        });
      } else {
        return this.collections;
      }
    }
  },
  created(){
    EventBus.$on('filter', this.filterBy);
    EventBus.$on('search', this.toggle);
    this.filteredCollections = this.collections;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .flex {
    display: flex;
  }
  .clear {
    margin-left: 10px;
  }
</style>
