<template>
  <div class="column is-2">
    <div class="navigation">
      <div v-for="item in navigation" class="navigation-item" @click="handler(item)" v-bind:class="{ active: active.id == item.id }">
        <img :src="icon(item.name)" :alt="item.name">
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from '../Events';

export default {
  name: 'DepositStationNav',
  data(){
    return {
      active: null
    }
  },
  computed: {
    navigation(){
      return this.$store.getters.getNavigation;
    }
  },
  methods: {
    icon(name){
      var images = require.context('../assets/', false, /\.png$/);
      return images('./' + name + ".png");
    },
    filterBy(filter){
      EventBus.$emit('filter', filter);
    },
    handler(item){
      if (this.active == item){
        EventBus.$emit('search');
      }
      this.active = item;
      this.filterBy(item);
      this.$store.dispatch('setCurrentState', item);
    }
  },
  created(){ 
    var current = this.$store.getters.getCurrentState;
    if (current){
      // var c = this.navigation.filter(function(item){
      //   return item.id == current.id;
      // });
      // this.active = c[0];
      this.active = current;
      this.filterBy(current)
    } else {
      var init = this.navigation[0];
      this.active = init;
      this.filterBy(init);
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navigation {
  background-color: #3273dc;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  border-radius: 3px;
}
.navigation-item {
  min-height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 10px;
}
.navigation-item:hover,
.navigation-item.active {
  background-color: #23509a;
}
.navigation-item img {
  width: 40px;
  height: 40px;
}
</style>
