<template>
  <div class="notification is-primary">
    
    {{ item.label }}

  </div>
</template>

<script>
export default {
  name: 'DepositStationItem',
  props: ['item'],
  data(){
    return {
      msg: 'Hello'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
