<template>
  <div id="app">
    <div class="container">
      <div class="deposit-station section">
        <div class="columns">
          
          <router-view/>
          <DepositStationNav />
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>

var data = {
  navigation: [
    {
      id: 'AZ',
      name: 'sortation',
      url: 'patient-list',
      title: 'Patienten-Liste',
      group: false,
      filter: {status: 1},
    },
    {
      id: 'group',
      name: 'group',
      url: 'patient-list',
      title: 'Patienten-Liste',
      group: true
    },
    {
      id: 'archive',
      name: 'archive',
      title: 'Liste der archivierten Patienten',
      group: false,
      filter: {status: 0}
    }
  ],
  collections: [
    {id: 1,label : 'Vier Testfall', group:  'Mende, Manuela', status: 1},
    {id: 2,label : 'Beata Brysz', group: 'Ittri, Mulham', status: 1},
    {id: 3,label: 'Claus Nolte', group: 'Ittri, Mulham', status: 1},
    {id: 4,label: 'Andrea Kuckuck', group:  'Mende, Manuela', status: 1},
    {id: 5,label: 'Frank Weigel', group:  'Mende, Manuela', status: 1},
    {id: 6,label: 'Marie Meier', group: 'Ittri, Mulham', status: 0},
    {id: 7,label: 'Heike Otto', group: 'Ittri, Mulham', status: 0}
  ]
};

import DepositStationNav from '@/components/DepositStationNav'
import DepositStationList from '@/components/DepositStationList'

export default {
  name: 'App',
  components: {
    DepositStationNav,
    DepositStationList
  },
  data(){
    return {

    }
  },
  methods: {
    getData(){
      this.$store.dispatch('setCollections', data.collections);
      this.$store.dispatch('setNavigation', data.navigation);
    }
  },
  created(){
    this.getData();
  }
}
</script>

<style>

@import "../node_modules/bulma/css/bulma.css";

#app {
  
}
.deposit-station {

}
</style>
